<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Jcsdl Test Suite">
            <directory>tests/Eo/Jcsdl/Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Eo/Jcsdl/</directory>
        </whitelist>
    </filter>
</phpunit>